<!DOCTYPE HTML PUBLIC>
{% autoescape true %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="shortcut icon" href="/favicon.ico">
<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container" id="top">
    {% block top_left %}
    <span> </span>
    {% endblock %}
    <span align="right">
        <div class="top_link_list">{{greeting}}</div>
        <div align="right" class="bottom_link_list login_link"><a href="/?change_group=True">cменить группу</a> <a href="{{login_link}}">{{login_link_text}}</a></div>
    </span>
</div>
{% block content_title %}
{% endblock %}
</body>
</html>
{% endautoescape %}