{% extends "templates/base_groups.html" %}
{% block title %}Сгенерировать расписание{% endblock %}
{% block subtitle %}Сгенерировать расписание{% endblock %}
{% block content %}
    {% if result!=None %}
        {% for line in result %}
            <p class="text">{{line}}</p>
        {% endfor %}
    {% endif %}
	<form method="post" action="/{{ group_id }}/copy_from_default"> 
	<table>
        <tr><td class="name">С</td><td><input type="date" name="date_start" value='{{ date_begin }}'></td></tr>
		<tr><td class="name">По</td><td><input type="date" name="date_end" value='{{ date_end }}'></td></tr>
	</table>
        <div class="btn"><input class="btn" type="submit" value="Сгенерировать"/></div>
	</form>
{% endblock %}