{% extends "templates/base.html" %}
{% block title %}Редактировать гуппу{% endblock %}
{% block content_title %}
<h1>Создать группу</h1>
    <form method="post" action="/groups">
{% if group.group_id != 'group' %}
        <br/>id  <input type="text" name="group_id"  required value='{{ group.group_id }}' >
        <br/>name  <input type="text" name="name"  required value='{{ group.name }}' >
        <br/>origin  <input type="text" name="origin"  required value='{{ group.origin }}' >
        <br/>admin  <input type="textarea" name="admin"  required value='{{ group.admin }}' >
{% else %}
        <br/>id  <input type="text" name="group_id"  required placeholder='ex. asgap' >
        <br/>name  <input type="text" name="name"  required placeholder='ex. ВШОПФ' >
        <br/>origin  <input type="text" name="origin"  required placeholder='ex. ННГУ' >
        <br/>admin  <input type="textarea" name="admin"  required placeholder='ex. a@b.com' >
{% endif %}
        <br/><input class="btn" type="submit" value="Сохранить"/>
        <input type="hidden" name="key" value='{{ key_urlsafe }}'>
    </form>
{% endblock %}