{% extends "templates/base_groups.html" %}
{% block title %}Расписание регулярных занятий{% endblock %}
{% block content %}
{% if double_week %}
    <h2>Нечетная неделя</h2>
{% else %}
    <h2>Расписание регулярных занятий</h2>
{% endif %}
<table class="schedule">
	<tr>
	{% for day in odd_days %}
	<td class="day" style="height: {{day.height}};">
    <div class="caption">{{day.week_day|weekday}}</div>
	{% for pair in day.pairs %}
		<div class="pair {{pair['pair_type']}}" style="top: {{pair['from_up']}}px; height: {{pair['height']}};" onclick="desc(this)">
                <div class="classname">{{ pair.classname }}</div>
                <div class="container">
                    <span class="start_time">{{ pair.start_time|time }}</span>
                </div>
        {% if is_admin %}
            <span class="edit_links">
                <a href='{{pair.edit_link}}'>Редактировать</a>
                <a href='{{pair.delete_link}}'>Удалить</a>
            </span>
        {% endif %}
		</div>
	{% endfor %}
    {% if is_admin %}
        <span class="add_pair_link">
            <a href='{{day.pair_add_link}}'>Добавить занятие</a>
        </span>
    {% endif %}
	</td>
	{% endfor %}
	</tr>
</table>
{% if double_week %}
<h2>Четная неделя</h2>
<table class="schedule">
    <tr>
    {% for day in even_days %}
    <td class="day" style="height: {{day.height}};">
    <div class="caption">{{day.week_day|weekday}}</div>
    {% for pair in day.pairs %}
        <div class="pair {{pair['pair_type']}}" style="top: {{pair['from_up']}}px; height: {{pair['height']}};" onclick="desc(this)">
                <div class="classname">{{ pair.classname }}</div>
                <div class="container">
                    <span class="start_time">{{ pair.start_time|time }}</span>
                </div>
        {% if is_admin %}
            <span class="edit_links">
                <a href='{{pair.edit_link}}'>Редактировать</a>
                <a href='{{pair.delete_link}}'>Удалить</a>
            </span>
        {% endif %}
        </div>
    {% endfor %}
    {% if is_admin %}
        <span class="add_pair_link">
            <a href='{{day.pair_add_link}}'>Добавить занятие</a>
        </span>
    {% endif %}
    </td>
    {% endfor %}
    </tr>
</table>
{% endif %}
<script>
function desc(object){
    {% if is_admin %}
    if (object.getElementsByClassName("edit_links")[0].style.display != 'inline')
    {
        object.getElementsByClassName("edit_links")[0].style.display = 'inline';
    } else
    {
        object.getElementsByClassName("edit_links")[0].style.display = 'none';
    }
    {% endif %}
}
</script>
{% endblock %}
