{% extends "templates/base.html" %}
{% block title %}Расписание{% endblock %}
{% block content %}
{% if double_week %}
Нечетная неделя
{% endif %}
<table class="schedule">
	<tr>
	{% for day in odd_days %}
	<td class="day">
	<table class="day">
	<caption>{{day.week_day|weekday}}</caption>
	{% for pair in day.pairs %}
		<tr class="pair" onclick="desc(this)">
            <td class="pair">
                <div class="classname">{{ pair.classname }}</div>
                <div class="container">
                    <div class="start_time">{{ pair.start_time|time }}</div>
                </div>
            <div class="no-task">
                Здесь ничего нет. Куда подевалось?
            </div>
        {% if is_admin %}
            <span class="edit_link"><a href='{{pair.edit_link}}'>Редактировать</a></span>
            <span class="delete_link"><a href='{{pair.delete_link}}'>Удалить</a></span>
        {% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>
	</td>
	{% endfor %}
	</tr>
</table>
{% if double_week %}
Четная неделя
<table class="schedule">
    <tr>
    {% for day in even_days %}
    <td class="day">
    <table class="day">
    <caption>{{day.week_day|weekday}}</caption>
    {% for pair in day.pairs %}
        <tr class="pair" onclick="desc(this)">
            <td class="pair">
                <div class="classname">{{ pair.classname }}</div>
                <div class="container">
                    <div class="start_time">{{ pair.start_time|time }}</div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </table>
    </td>
    {% endfor %}
    </tr>
</table>
{% endif %}
<script>
function desc(object){
    if (object.getElementsByClassName("no-task")[0].style.display != 'block')
    {
        object.getElementsByClassName("no-task")[0].style.display = 'block';
    {% if is_admin %}
        object.getElementsByClassName("edit_link")[0].style.display = 'inline';
        object.getElementsByClassName("delete_link")[0].style.display = 'inline';
    {% endif %}
    } else
    {
        object.getElementsByClassName("no-task")[0].style.display = 'none';
    {% if is_admin %}
        object.getElementsByClassName("edit_link")[0].style.display = 'none';
        object.getElementsByClassName("delete_link")[0].style.display = 'none';
    {% endif %}
    }
}
</script>
{% endblock %}
