{% extends "templates/base_groups.html" %}
{% block title %}Список регулярных занятий{% endblock %}
{% block subtitle %}Список регулярных занятий{% endblock %}
{% block content %}
<table class="list">
    <tr>
        <th>Предмет</th>
        <th>День недели</th>
        <th>Время</th>
        <th></th>
        <th></th>
    </tr>
{% for pair in pairs %}
	<tr>
		<td>{{ pair.classname }}</td>
		<td>{{ pair.week_day|weekday }} </td>
		<td>{{ pair.start_time|time }}</td>
		<td><a href='{{ pair.edit_link }}'>Редактировать</a></td>
		<td><a href='{{ pair.delete_link }}'>Удалить</a></td>
	</tr>
{% endfor %}
</table>
<a href="/{{ group_id }}/new_default_pair">Добавить регулярное занятие</a>
{% endblock %}