<html>
<head>
<title>Добавить занятие</title>
</head>
<body>
	<form method="post" action="/pairs"> 
		<br/>Предмет  <input type="text" name="classname"  value={{ pair.classname }}>
		<br/>Дата  <input type="date" name="date" value={{ pair.date }}>
		<br/>Время  <input type="time" name="time" value={{ pair.start_time }}>
		<br/>Задание <br/> <textarea name="task" rows="10" cols="80">{{ pair.task }}</textarea> 
		<br/><input class="btn" type="submit" value="Сохранить"/> 
		<input type="hidden" name="key" value={{ key_urlsafe }}>
	</form>
</body>
</html>