{% extends "templates/base_groups.html" %}
{% block title %}Редактировать занятие из актуального расписания{% endblock %}
{% block subtitle %}Редактировать занятие из актуального расписания{% endblock %}
{% block content %}
	<form method="post" action="/{{ group_id }}/pairs" onsubmit="beforesubmit(this)">
	<table>
		<tr><td class="name">Предмет</td><td><select size="1" name="classname" class="default" id="subject_select" onchange="subjectChanged()" >
                <option value="" {% if pair.classname == '' %}selected{% endif %}>Другой</option>
                {% for subject in subjects %}
                <option value="{{ subject.classname }}" {% if pair.classname == subject.classname %}selected{% endif %}>{{ subject.classname }}</option>
                {% endfor %}
             </select>  <input type="text" name="other_classname" class="default" id="other_classname" value="{{ pair.classname }}" style="display:none"></input></td></tr>
		<tr><td class="name">Дата</td><td><input type="date" name="date" class="default" value='{{ pair.date }}'></td></tr>
		<tr><td class="name">Время</td><td><input type="time" name="time" class="default" value='{{ pair.start_time }}'></td></tr>
        <tr><td class="name">Замена</td><td><input type="checkbox" name="replace" id="checkbox" onclick="replaceset()" {% if pair.replace==True %} checked disabled {% endif %}></td></tr>
		<tr><td class="name">Задание</td><td><textarea name="task" rows="10" cols="80">{{ pair.task }}</textarea></td></tr>
        <tr><td class="name">Тип пары</td><td><select size="1" name="pair_type" class="default" >
            <option disabled>Тип пары</option>
            <option {% if pair.pair_type == '' %}selected{% endif %} value="">Стандартная пара</option>
            <option {% if pair.pair_type == 'exam' %}selected{% endif %} value="exam">Экзамен</option>
            <option {% if pair.pair_type == 'lect' %}selected{% endif %} value="lect">Лекция</option>
            <option {% if pair.pair_type == 'pract' %}selected{% endif %} value="pract">Практика</option>
            <option {% if pair.pair_type == 'mixed' %}selected{% endif %} value="mixed">Лекция/Практика</option>
             <option {% if pair.pair_type == 'cancel' %}selected{% endif %} value="cancel">ОТМЕНЕНА</option>
        </select></td></tr>
	</table>
        <div class="btn"><input class="btn" type="submit" value="Сохранить"/></div>
		<input type="hidden" name="key" value='{{ key_urlsafe }}'>
		<input type="hidden" name="return_url" value='{{ return_url }}'>
	</form>
<script>
var default_values = []
function subjectChanged() {
    select = document.getElementById("subject_select")
    if (select.value == "")
    {
        document.getElementById("other_classname").style.display = "inline";
    } else
    {
        document.getElementById("other_classname").style.display = "none";
    }
}
function replaceset() {
    var inputs = document.getElementsByClassName("default");
    var should_disable = !document.getElementById("checkbox").checked;
    console.log(inputs.length);
    for (i = 0; i < inputs.length; i++)
    {
        inputs[i].disabled = should_disable;
        if (should_disable) inputs[i].value = default_values[i];
    }
    subjectChanged();
}
function saveform() {
    var inputs = document.getElementsByClassName("default");
    for (i = 0; i < inputs.length; i++) default_values[i] = inputs[i].value;
}
saveform();
replaceset();
subjectChanged();
function beforesubmit(object) {
    var inputs = document.getElementsByClassName("default");
    for (i = 0; i < inputs.length; i++) inputs[i].disabled = false;
    document.getElementById("checkbox").disabled = false;
}
</script>
{% endblock %}