{% extends "templates/base.html" %}
{% block title %}Добавить занятие{% endblock %}
{% block content %}
	<form method="post" action="/default_pairs"> 
{% if pair.classname == 'classname' %}
        <br/>Предмет  <input type="text" name="classname"  placeholder={{ pair.classname }}>
{% else %}
        <br/>Предмет  <input type="text" name="classname"  value={{ pair.classname }}>
{% endif %}
        <br/>День недели <select size="1" name="week_day">
                <option disabled>День недели</option>
                <option value="0">Понедельник</option>
                <option value="1">Вторник</option>
                <option value="2">Среда</option>
                <option value="3">Четверг</option>
                <option value="4">Пятница</option>
                <option value="5">Суббота</option>
                <option value="6">Воскресение</option>
             </select>
		<br/>Время <input type="time" name="time" value={{ pair.start_time}}>
		<br/><input class="btn" type="submit" value="Сохранить"/> 
		<input type="hidden" name="key" value={{ key_urlsafe }}>
	</form>
{% endblock %}