<!DOCTYPE HTML PUBLIC>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="shortcut icon" href="/favicon.ico">
<title>Список групп</title>
</head>
<body>
<div class="container" id="top">
    <span></span>
    <span align="right">
        <div class="top_link_list">{{greeting}}</div>
        <div align="right" class="bottom_link_list login_link"><a href="{{login_link}}">{{login_link_text}}</a></div>
    </span>
</div>
<center><h1>Список групп</h1>
<table class="list">
<caption>Список групп</caption>
    <tr>
        <th>id группы</th>
        <th>Название</th>
        <th>Университет</th>
        <th>Администратор(ы)</th>
        <th></th>
        <th></th>
    </tr>
{% for group in groups %}
    <tr>
        <td><a href="/{{group.group_id}}/">{{ group.group_id }}</a></td>
        <td>{{ group.name }} </td>
        <td>{{ group.origin }}</td>
        <td>{{ group.admin }}</td>
        <td><a href='{{ group.edit_link }}'>Редактировать</a></td>
        <td><a href='{{ group.delete_link }}'>Удалить</a></td>
    </tr>
{% endfor %}
</table>
<a href="/create_group">Добавить группу</a>
</center>
</body>
</html>