{% extends "templates/base_groups.html" %}
{% block title %}Как пользоваться The Schedule{% endblock %}
{% block subtitle %}Как пользоваться The Schedule{% endblock %}

{% block content %}
<p class="text">The Schedule &mdash; проект, который позволяет отслеживать расписание занятий вашей группы в университете, школе или где-либо еще. Забудьте про вечную путаницу с переносами и заменами, а также про необходимость запоминать задания, которые необходимо сделать к каждому из занятий! Создавайте расписание, вносите в него изменения и сохраняйте задания &mdash; и всем сразу будут доступны актуальные изменения.</p>

<p class="text">The Schedule оперирует двумя понятиями: расписание занятий, которые происходят регулярно раз в неделю (две недели), и актуальное расписание на ближайшее время.</p>

<p class="text">В начале пользования проектом, или при изменении регулярного расписания вам необходимо составить его на странице <a href="/{{group_id}}/default_pairs">Регулярные занятия</a>. Также, просмотреть и отредактировать уже существующие занятия в регулярном расписании вы можете на странице <a href="/{{group_id}}/schedule">Регулярное расписание</a>.</p>

<p class="text">Далее, чтобы добавить занятия из регулярного расписания в актуальное, необходимо заполнить форму на странице <a href="/{{group_id}}/copy_from_default">Сгенерировать расписание</a>. При необходимости, вы можете изменить актуальное расписание на страницах <a href="/{{group_id}}/pairs">Актуальные занятия</a> и <a href="/{{group_id}}/">Актуальное расписание</a>. Также, к занятиям, находящимся в актуальном расписании, можно прикреплять задания.</p>

<p class="text">Некоторые настройки расписаний находятся на <a href="/{{group_id}}/schedule_settings">странице настроек</a>.</p>

<p class="text">Также, теперь у нас есть бот в <a href="https://telegram.org">Telegram</a>: полные возможности The Schedule в вашем любимом мессенджере в диалоге с <a href="https://telegram.me/theschedulebot">@theschedulebot</a>.</p>
{% endblock %}
