{% extends "templates/base.html" %}
{% block title %}Cписок пар{% endblock %}
{% block content %}
<table border=3 column=5>
<caption>Расписание пар</caption>
{% for pair in pairs %}
	<tr>
		<td>{{ pair.classname }}</td>
		<td>{{ pair.date|date }} </td>
		<td>{{ pair.start_time|time }}</td>
		<td>{{ pair.task }}</td>
		<td><a href='{{ pair.edit_link }}'>Редактировать</a></td>
		<td><a href='{{ pair.delete_link }}'>Удалить</a></td>
	</tr>
{% endfor %}
</table>
<a href="/new_pair">Добавить пару</a>
{% endblock %}
