{% extends "templates/base_groups.html" %}
{% block title %}Cписок актуальных занятий{% endblock %}
{% block subtitle %}Cписок актуальных занятий{% endblock %}
{% block content %}
<table class="list">
    <tr>
        <th>Предмет</th>
        <th>Дата</th>
        <th>Время</th>
        <th>Задание</th>
        <th></th>
        <th></th>
    </tr>
{% for pair in pairs %}
	<tr>
		<td>{{ pair.classname }}</td>
		<td>{{ pair.date|date }} </td>
		<td>{{ pair.start_time|time }}</td>
		<td>{{ pair.task }} </td>
		<td><a href='{{ pair.edit_link }}'>Редактировать</a></td>
		<td><a href='{{ pair.delete_link }}'>Удалить</a></td>
	</tr>
{% endfor %}
</table>
<a href="/{{ group_id }}/new_pair">Добавить пару</a>
{% endblock %}
