<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
<title>Расписание</title>
</head>
<bodky>
<table border=3>
	<tr>
	{% for day in days %}
	<td>
	<table border=3>
	<caption><font {% if day.is_current %}color="green"{% else %}color="black"{% endif %}>{{day.date}}, {{day.week_day}}</font></caption>
	{% for pair in day.pairs %}
		<tr>
			<td>{{ pair.classname }}</td>
			<td>{{ pair.start_time }}</td>
			<td>{{ pair.task }}</td>
		</tr>
	{% endfor %}
	</table>
	</td>
	{% endfor %}
	</tr>
</table>
</body>
</html>
