{% extends "templates/base.html" %}
{% block title %}Расписание{% endblock %}
{% block content %}
<div align='right'>Группа: {{ group_name }}</div>
<table border=3>
	<tr>
	{% for day in days %}
	<td valign="top" {% if day.is_current %}bgcolor="#F2EEB3"{% endif %}>
	<table border=3 width="100%">
	<caption>{{day.date|date}}, {{day.week_day|weekday}}</caption>
	{% for pair in day.pairs %}
		<tr class="pair" onclick="desc('{{ pair['classname'] }}','{{ day.week_day|weekday }}','{{ day.date|date }}','{{ pair['start_time']|time }}','{{ pair['task'] }}'{%if is_admin%},'{{ pair['edit_link'] }}','{{ pair['delete_link'] }}'{%endif%})">
			<td>{{ pair['classname'] }}</td>
			<td>{{ pair['start_time']|time }}</td>
			{% if pair['replace']==True %}<td bgcolor=red >R</td>{% endif %}
			{% if pair['task'] %}<td bgcolor=green >T</td>{% endif %}
		</tr>
	{% endfor %}
	</table>
	</td>
	{% endfor %}
	</tr>
</table>
<div id="classname"></div>
<div id="date"></div>
<div id="time"></div>
<div id="task"></div>
<div id="link"></div>
<script>
function desc(classname,weekday,date,time,task{%if is_admin%},edit_link,delete_link{%endif%}){
	document.getElementById("classname").innerHTML ="<b>Предмет:</b> " + classname
	document.getElementById("date").innerHTML ="<b>Дата:</b> " + date + ", " + weekday
	document.getElementById("time").innerHTML ="<b>Время:</b> " + time
	if (task!='')
		{document.getElementById("task").innerHTML ="<b>Задание:</b> " + task}
	else 
		{document.getElementById("task").innerHTML =""}
	{%if is_admin%}document.getElementById("link").innerHTML="<a href='" + edit_link + "'>Редактировать</a> <a href='" + delete_link + "'>Удалить</a>"{%endif%}

}
</script>
{% endblock %}
