{% extends "templates/base.html" %}
{% block title %}Расписание{% endblock %}
{% block content %}
<table class="schedule">
	<tr>
	{% for day in days %}
	<td class="day" {% if day.is_current %}id="current_day"{% endif %}>
	<table class="day">
	<caption>{{day.date|date}}, {{day.week_day|weekday}}</caption>
	{% for pair in day.pairs %}
		<tr class="pair" onclick="desc(this)">
			<td class="pair">
			<div class="classname">{{ pair['classname'] }}</div>
			<div class="container">
                <div class="start_time">{{ pair['start_time']|time }}</div>
                <span>
                {% if pair['replace'] %}
                    <div title="Замена" class="replace_tag">&#9679;</div>
                {% endif %}
                {% if pair['task'] %}
                    <div title="Задание" class="task_tag">&#9679;</div>
                {% endif %}
                </span>
            </div>
            <div class="task">
                {{ pair['task'] }}
            </div>
        {% if is_admin %}
            <span class="edit_links">
                <a href='{{pair['edit_link']}}'>Редактировать</a>
                <a href='{{pair['delete_link']}}'>Удалить</a>
            </span>
        {% endif %}
            </td>
		</tr>
	{% endfor %}
	</table>
	</td>
	{% endfor %}
	</tr>
</table>
<script>
function desc(object){
    if (object.getElementsByClassName("task")[0].style.display != 'block')
    {
        object.getElementsByClassName("task")[0].style.display = 'block';
    {% if is_admin %}
        object.getElementsByClassName("edit_links")[0].style.display = 'inline';
    {% endif %}
    } else
    {
        object.getElementsByClassName("task")[0].style.display = 'none';
    {% if is_admin %}
        object.getElementsByClassName("edit_links")[0].style.display = 'none';
    {% endif %}
    }
}
</script>
{% endblock %}
