body {
    background-color: #f7f7f7;
    font-family: Tahoma, Verdana, Times New Roman, Arial;
    margin-top: 0px;
}

#top {
    background-color: #84c754;
    border-radius: 0px 0px 15px 15px;
    margin: 0px;
    border: 0px;
    padding: 10px 5% 10px 5%;
}

#top a {
    text-decoration: none;
    color: #42642A;
    font-weight: bold;
    padding: 1px 5px;
    border: 1px solid #42642A;
    border-radius: 10px;
}

#top a:hover {
    background-color: #A9D887;
}

#top .bottom_link_list {
    margin: 10px 0px 0px 0px;
}

#top div.login_link {
    font-size: 8pt;
}

div.container {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

h1 {
    margin-left: 15%;
    color: #3D0066;
}

h2 {
    margin-left: 20%;
}

table {
    border: 0;
    border-radius: 15px;
    empty-cells: show;
    font-family: Arial;
    font-size: 11pt;
    width: 100%;
}

table.schedule {
    border-spacing: 15px;
/*     table-layout: fixed; */
}

table.list {
    border-spacing: 0px;
    background: #ccddff;
    padding: 5px 10px;
}

table.list th {
    text-align: left;
    border-bottom: 1px solid black;
}

td {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}

table.list td {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 0;
    padding: 3px 5px;
}

table.list tr td:last-child {
    border-right: 1px solid black;
}

td.day {
    width: 10%;
    background-color: #ddddff;
    padding: 3px 10px 3px 10px;
    vertical-align: top;
}

div.class_name {
    font-size: 11pt;
}

span.start_time {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 8pt;
    color: grey;
}

div.replace_tag {
    display: inline;
    font-size: 13pt;
    color: red;
}

div.task_tag {
    display: inline;
    font-size: 13pt;
    color: green;
}

div.task {
    display: none;
}

div.no-task {
    display: none;
    font-size: 8pt;
    color: grey;
}

span.edit_links {
    display: none;
}

span.edit_links a {
    font-size: 8pt;
    color: #777777;
}

caption {
    font-weight: bold;
    padding-bottom: 10px;
}

#current_day {
    background-color: #F2EEB3;
}

td.pair {
    padding: 3px 10px 3px 10px;
    background: #ccddff;
    height: 50pt;
    cursor: pointer;
}

td.pair.exam {
    background: #ffccdd;
     
}

td.pair.lect {
    background: #ddffcc; 
}

td.pair.pract {
    background: #f7ffcc; 
}

td.pair.mixed {
    background: #ddffcc;
    background: linear-gradient(-45deg, #ddffcc 0%, #ddffcc 50%, #f7ffcc 51%, #f7ffcc 100%); 
}

td.pair.cancel {
    background: linear-gradient(-45deg, #ccddff 0%, #ccddff 20%, #ffccdd 21%, #ffccdd 40%, #ccddff 41%, #ccddff 60%, #ffccdd 61%, #ffccdd 80%, #ccddff 81%, #ccddff 100%)
}

td.pair:hover { 
    background: #CCCCFF;
    border-radius: 15px;
}

td.pair.mixed:hover {
    background: linear-gradient(-45deg, #bbff99 0%, #bbff99 50%, #efff99 51%, #efff99 100%);
    border-radius: 15px;
}

td.pair.cancel:hover {
    background: linear-gradient(-45deg, #ccccff 0%, #ccccff 20%, #ff99bb 21%, #ff99bb 40%, #ccccff 41%, #ccccff 60%, #ff99bb 61%, #ff99bb 80%, #ccccff 81%, #ccccff 100%)
}

td.pair.lect:hover {
    background: #bbff99; 
}

td.pair.exam:hover {
    background: #ff99bb; 
}

td.pair.pract:hover {
    background: #efff99; 
}

form {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

form table {
    border-spacing: 30px 10px;
}

form td {
    width: 40%;
}

form td.name {
    text-align: right;
    vertical-align: top;
}

form textarea {
    resize: vertical;
    width: 40%;
}

form input {
   width: 40%;
}

form input.long {
    resize: horizontal;
} 

form div.btn {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

form .btn {
    width: 10%;
}

p.text {
    padding: 0% 10%;
}

input.default:read-only {
    color: #777777;
}

a.subject_link {
    color: #000000;
    border-radius: 10px;
    text-decoration: none;
    padding: 0px 7px;
}

a.subject_link:hover {
    background-color: #EEEEEE;
/*     background-color: #FFFFA6;    */
}