body {
    background-color: #f7f7f7;
    font-family: Tahoma, Verdana, Times New Roman, Arial;
    margin-top: 0px;
}

#top {
    background-color: #84c754;
    border-radius: 0px 0px 15px 15px;
    margin: 0px;
    border: 0px;
    padding: 10px 5% 10px 5%;
}

#top a {
    text-decoration: none;
    color: #42642A;
    font-weight: bold;
    padding: 1px 5px;
    border: 1px solid #42642A;
    border-radius: 10px;
}

#top a:hover {
    background-color: #A9D887;
}

#top .bottom_link_list {
    margin: 10px 0px 0px 0px;
}

#top div.login_link {
    font-size: 8pt;
}

div.container {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-left: 15%;
    color: #3D0066;
}

h2 {
    margin-left: 20%;
}

table {
    border: 0;
    border-radius: 15px;
    empty-cells: show;
    font-family: Arial;
    font-size: 11pt;
    width: 100%;
}

table.schedule {
    border-spacing: 30px;
}

table.list {
    border-spacing: 0px;
    background: #ccddff;
    padding: 5px 10px;
}

table.list th {
    text-align: left;
    border-bottom: 1px solid black;
}

td {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}

table.list td {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 0;
    padding: 3px 5px;
}

table.list tr td:last-child {
    border-right: 1px solid black;
}

td.day {
    width: 10%;
    background-color: #ddddff;
    padding: 3px 10px 3px 10px;
    vertical-align: top;
}

div.class_name {
    font-size: 11pt;
}

div.start_time {
    display: table-cell;
    vertical-align: bottom;
    font-size: 8pt;
    color: grey;
}

div.replace_tag {
    display: inline;
    font-size: 13pt;
    color: red;
}

div.task_tag {
    display: inline;
    font-size: 13pt;
    color: green;
}

div.task {
    display: none;
}

div.no-task {
    display: none;
    font-size: 8pt;
    color: grey;
}

span.edit_links {
    display: none;
}

span.edit_links a {
    font-size: 8pt;
    color: #777777;
}

caption {
    font-weight: bold;
    padding-bottom: 10px;
}

#current_day {
    background-color: #F2EEB3;
}

td.pair {
    padding: 3px 10px 3px 10px;
    background-color: #ccddff;
    height: 50pt;
    cursor: pointer;
}

td.pair:hover { 
    background-color: #CCCCFF;
    border-radius: 15px;
}
